.lecture {
  padding: 80px var(--container-padding) 0;
  background: var(--color-bg-white);
}

.lecture__inner {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 32px;
  align-items: center;
  max-width: var(--container-max);
  margin: 0 auto;
}

.lecture__title {
  font-family: var(--font-display), serif;
  font-weight: 400;
  font-size: var(--fs-h3);
  line-height: 1.35;
  text-transform: uppercase;
  max-width: 764px;
}

.lecture__title-accent {
  color: var(--color-accent-red);
  font-weight: 700;
}

@media (max-width: 1024px) {
  .lecture__inner {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .lecture {
    padding: 35px var(--container-padding);
  }

  .lecture__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .lecture__title {
    display: contents;
  }

  .lecture__title-part1 {
    order: 1;
    font-family: var(--font-display), serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.35;
    text-transform: uppercase;
  }

  .lecture__inner img {
    order: 2;
  }

  .lecture__title-part2 {
    order: 3;
    font-family: var(--font-display), serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.35;
    text-transform: uppercase;
  }
}
